<tr>
<td >0.000576024880465487</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >2</td></tr>
<tr>
<td >5.85383422083696e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >2</td></tr>
<tr>
<td >1.43877925129487e-08</td><td >0.00027187172732468</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/85452">KIAA1751
</a> </td><td >4</td></tr>
<tr>
<td >0.00101381330366324</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> </td><td >2</td></tr>
<tr>
<td >6.10622663543836e-15</td><td >1.15383258503243e-10</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </td><td >7</td></tr>
<tr>
<td >9.39443822733921e-09</td><td >0.000177517304743802</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >5</td></tr>
<tr>
<td >8.49809488834286e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >3</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/348487">FAM131C
</a> </td><td >7</td></tr>
<tr>
<td >0.000179412597618667</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/943">TNFRSF8
</a> </td><td >2</td></tr>
<tr>
<td >4.49853761906871e-05</td><td >0.850043668499223</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </td><td >2</td></tr>
<tr>
<td >0.000266770783349912</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >2</td></tr>
<tr>
<td >1.49791390018361e-05</td><td >0.283045810578695</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27129">HSPB7
</a> </td><td >2</td></tr>
<tr>
<td >6.25307119257457e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/374946">DRAXIN
</a> </td><td >2</td></tr>
<tr>
<td >1.38293136079382e-05</td><td >0.261318709935599</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/100526739">APITD1-CORT
</a> </td><td >2</td></tr>
<tr>
<td >0.00879018484635719</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80176">SPSB1
</a> </td><td >1</td></tr>
<tr>
<td >1.9214355096997e-06</td><td >0.0363074453912855</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> </td><td >3</td></tr>
<tr>
<td >3.52145605342358e-07</td><td >0.00665414335854919</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> </td><td >3</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> </td><td >7</td></tr>
<tr>
<td >0.000237758836507562</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> </td><td >2</td></tr>
<tr>
<td >1.99678970146389e-05</td><td >0.377313381988616</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54991">C1orf159
</a> </td><td >2</td></tr>
<tr>
<td >1.52660781149727e-06</td><td >0.0288467812060524</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/148870">CCDC27
</a> </td><td >3</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> </td><td >14</td></tr>
<tr>
<td >2.22381912884373e-09</td><td >4.20212862586311e-05</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/391004">PRAMEF17
</a> </td><td >4</td></tr>
<tr>
<td >0.0153534267629213</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/391003">PRAMEF18
</a> </td><td >1</td></tr>
<tr>
<td >0.0272300467045844</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> </td><td >1</td></tr>
<tr>
<td >2.89435142519778e-13</td><td >5.46916645305373e-09</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >6</td></tr>
<tr>
<td >3.53854018841915e-06</td><td >0.0668642554003682</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> </td><td >3</td></tr>
<tr>
<td >6.35200780862988e-11</td><td >1.2002753955187e-06</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26155">NOC2L
</a> </td><td >5</td></tr>
<tr>
<td >0.00859805915425971</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/63036">CELA2A
</a> </td><td >1</td></tr>
<tr>
<td >9.37797291600262e-07</td><td >0.0177206176220785</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> </td><td >3</td></tr>
<tr>
<td >0.0116569772163624</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> </td><td >1</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </td><td >6</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> </td><td >10</td></tr>
<tr>
<td >0.000326738284548322</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> </td><td >2</td></tr>
<tr>
<td >0.0154806443618781</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> </td><td >1</td></tr>
<tr>
<td >0.0131669668278876</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> </td><td >1</td></tr>
<tr>
<td >8.83735776616712e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >2</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> </td><td >8</td></tr>
<tr>
<td >0.0310249364488259</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >1</td></tr>
<tr>
<td >6.46470654785958e-11</td><td >1.22157094928355e-06</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/50651">SLC45A1
</a> </td><td >5</td></tr>
<tr>
<td >0.019785749869435</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/84069">PLEKHN1
</a> </td><td >1</td></tr>
<tr>
<td >7.38588078590396e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> </td><td >2</td></tr>
<tr>
<td >3.69649938315453e-05</td><td >0.69849052344088</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51032">CELA2B
</a> </td><td >2</td></tr>
<tr>
<td >0.0213992717893973</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> </td><td >1</td></tr>
<tr>
<td >1.48713199359385e-05</td><td >0.281008461509494</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/114827">FHAD1
</a> </td><td >3</td></tr>
<tr>
<td >0.0254477336829537</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/128272">ARHGEF19
</a> </td><td >1</td></tr>
<tr>
<td >0.000480712058187893</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> </td><td >2</td></tr>
<tr>
<td >3.64155289195311e-05</td><td >0.688107834463461</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9906">SLC35E2
</a> </td><td >2</td></tr>
<tr>
<td >0.0146534369011048</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/49856">WRAP73
</a> </td><td >1</td></tr>
<tr>
<td >0.0223576918682445</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/6339">SCNN1D
</a> </td><td >1</td></tr>
<tr>
<td >0.000369933685095414</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> </td><td >2</td></tr>
<tr>
<td >0.0187825551569532</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >1</td></tr>
<tr>
<td >0.0057866505491927</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> </td><td >1</td></tr>
<tr>
<td >0.00903586597462058</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55187">VPS13D
</a> </td><td >2</td></tr>
<tr>
<td >4.66602794180204e-08</td><td >0.000881692639882914</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >4</td></tr>
<tr>
<td >0.00151121417268074</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7799">PRDM2
</a> </td><td >2</td></tr>
<tr>
<td >7.6869926745271e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/60672">MIIP
</a> </td><td >2</td></tr>
<tr>
<td >0.0102725723332729</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> </td><td >1</td></tr>
<tr>
<td >0.0144306088092139</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >1</td></tr>
<tr>
<td >2.24776157853324e-05</td><td >0.42473702787964</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339456">TMEM52
</a> </td><td >2</td></tr>
<tr>
<td >4.66213495122769e-05</td><td >0.880957020383985</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/388581">FAM132A
</a> </td><td >2</td></tr>
<tr>
<td >8.38975098104155e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728661">SLC35E2B
</a> </td><td >2</td></tr>
<tr>
<td >1.79252895486925e-05</td><td >0.338716271312094</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/390992">HES3
</a> </td><td >2</td></tr>
<tr>
<td >0.00946233244089989</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/126755">LRRC38
</a> </td><td >1</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> </td><td >17</td></tr>
<tr>
<td >9.51627698864144e-09</td><td >0.000179819569977369</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/200197">TMEM51-AS1
</a> </td><td >3</td></tr>
<tr>
<td >4.6827887308809e-05</td><td >0.884859758587256</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >2</td></tr>
<tr>
<td >0.0202711397306795</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/90231">KIAA2013
</a> </td><td >1</td></tr>
<tr>
<td >6.02735777843755e-07</td><td >0.0113892952581356</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </td><td >4</td></tr>
<tr>
<td >0.0228312899355652</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54455">FBXO42
</a> </td><td >1</td></tr>
<tr>
<td >0.0001446568960487</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </td><td >2</td></tr>
<tr>
<td >8.38975098104155e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> </td><td >2</td></tr>
<tr>
<td >0.000115696744388827</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/654348">PRAMEF16
</a> </td><td >2</td></tr>
<tr>
<td >5.58499638758647e-07</td><td >0.0105534091739834</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </td><td >3</td></tr>
<tr>
<td >3.10681554926973e-08</td><td >0.000587063866190007</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> </td><td >4</td></tr>
<tr>
<td >0.0342124646768575</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >1</td></tr>
<tr>
<td >7.35997914171893e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/140625">ACTRT2
</a> </td><td >2</td></tr>
<tr>
<td >0.0109863146229838</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/388595">TMEM82
</a> </td><td >1</td></tr>
<tr>
<td >3.32046712860912e-05</td><td >0.627435468621979</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55092">TMEM51
</a> </td><td >2</td></tr>
<tr>
<td >0.0107520080978171</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80045">GPR157
</a> </td><td >1</td></tr>
<tr>
<td >2.90712021249195e-05</td><td >0.54932943535248</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >2</td></tr>
<tr>
<td >1.41124810364435e-05</td><td >0.266669441664636</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >2</td></tr>
<tr>
<td >7.25682385926962e-05</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >2</td></tr>
<tr>
<td >0.0524052173357216</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> </td><td >1</td></tr>
<tr>
<td >0.0190466529836095</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54973">CPSF3L
</a> </td><td >1</td></tr>
<tr>
<td >1.25099236956139e-05</td><td >0.23638751815232</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1325">CORT
</a> </td><td >2</td></tr>
<tr>
<td >2.88794410742144e-05</td><td >0.545705918538355</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> </td><td >3</td></tr>
<tr>
<td >0.00794669033237394</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57801">HES4
</a> </td><td >1</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79854">LINC00115
</a> </td><td >6</td></tr>
<tr>
<td >0.000218962076632967</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> </td><td >2</td></tr>
<tr>
<td >0.000851155588910024</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/63976">PRDM16
</a> </td><td >2</td></tr>
<tr>
<td >0.000305213890664402</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> </td><td >2</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> </td><td >17</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/343069">HNRNPCL1
</a> </td><td >8</td></tr>
<tr>
<td >0.000360516706438663</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80835">TAS1R1
</a> </td><td >2</td></tr>
<tr>
<td >0.0262239639284958</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/254173">TTLL10
</a> </td><td >1</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> </td><td >16</td></tr>
<tr>
<td >1.43098938887309e-06</td><td >0.027039975492146</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> </td><td >3</td></tr>
<tr>
<td >3.1996627569697e-13</td><td >6.04608274556995e-09</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >6</td></tr>
<tr>
<td >2.37879156924636e-05</td><td >0.449496454924793</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80772">GLTPD1
</a> </td><td >2</td></tr>
<tr>
<td >0.00532623502550367</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >1</td></tr>
<tr>
<td >0.0240090298619622</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >1</td></tr>
<tr>
<td >2.03536027281181e-05</td><td >0.384601677150521</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/473">RERE
</a> </td><td >3</td></tr>
<tr>
<td >0.0252168435666965</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </td><td >1</td></tr>
<tr>
<td >0.000118465230610987</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> </td><td >2</td></tr>
<tr>
<td >0.000108368041892848</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >2</td></tr>
<tr>
<td >0.0437948274201446</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57540">PTCHD2
</a> </td><td >1</td></tr>
<tr>
<td >0.000104330765061889</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> </td><td >2</td></tr>
<tr>
<td >6.0126186252063e-09</td><td >0.000113614441541898</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/387509">GPR153
</a> </td><td >4</td></tr>
<tr>
<td >0.000250130844902219</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> </td><td >3</td></tr>
<tr>
<td >0.0112631509893374</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >1</td></tr>
<tr>
<td >0.00623615357605856</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/93190">C1orf158
</a> </td><td >1</td></tr>
<tr>
<td >4.25304236273405e-12</td><td >8.03654884862226e-08</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8863">PER3
</a> </td><td >6</td></tr>
<tr>
<td >0.00251072265928276</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >2</td></tr>
<tr>
<td >2.38812600805716e-07</td><td >0.0045126029048248</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/126767">AADACL3
</a> </td><td >3</td></tr>
<tr>
<td >1.703127638919e-09</td><td >3.21822998650134e-05</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </td><td >4</td></tr>
<tr>
<td >9.79781100696187e-09</td><td >0.000185139436787551</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >4</td></tr>
<tr>
<td >4.76585735691426e-05</td><td >0.900556406162519</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339457">C1orf222
</a> </td><td >2</td></tr>
