<tr>
<td >0.0315245361004657</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >2</td></tr>
<tr>
<td >0.00356820575781081</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >2</td></tr>
<tr>
<td >5.21158530665256e-05</td><td >0.984781159545067</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/85452">KIAA1751
</a> </td><td >4</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/388591">RNF207
</a> </td><td >0</td></tr>
<tr>
<td >0.0526953033624629</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> </td><td >2</td></tr>
<tr>
<td >8.07989231077499e-11</td><td >1.52677645104404e-06</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </td><td >7</td></tr>
<tr>
<td >0.000215368475928734</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >5</td></tr>
<tr>
<td >0.00275922128554007</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </td><td >2</td></tr>
<tr>
<td >0.0153560206456347</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >2</td></tr>
<tr>
<td >0.00380511136150585</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/374946">DRAXIN
</a> </td><td >2</td></tr>
<tr>
<td >0.06817230678771</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80176">SPSB1
</a> </td><td >1</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/11315">PARK7
</a> </td><td >0</td></tr>
<tr>
<td >0.0137686917854187</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> </td><td >0</td></tr>
<tr>
<td >0.00124298430405856</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54991">C1orf159
</a> </td><td >2</td></tr>
<tr>
<td >0.000704579720896992</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/148870">CCDC27
</a> </td><td >3</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> </td><td >14</td></tr>
<tr>
<td >0.116387143382859</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/391003">PRAMEF18
</a> </td><td >1</td></tr>
<tr>
<td >1.85220182036261e-06</td><td >0.0349992055975719</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26155">NOC2L
</a> </td><td >5</td></tr>
<tr>
<td >0.000440034579724746</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> </td><td >3</td></tr>
<tr>
<td >0.089508215506226</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> </td><td >1</td></tr>
<tr>
<td >0.0185931314327737</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> </td><td >2</td></tr>
<tr>
<td >0.117299718695237</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> </td><td >1</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23207">PLEKHM2
</a> </td><td >0</td></tr>
<tr>
<td >0.100573382923716</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> </td><td >1</td></tr>
<tr>
<td >0.00532497373690588</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >2</td></tr>
<tr>
<td >1.01341157687784e-12</td><td >1.91494251566837e-08</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> </td><td >8</td></tr>
<tr>
<td >1.88457392535923e-06</td><td >0.0356109088935881</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/50651">SLC45A1
</a> </td><td >5</td></tr>
<tr>
<td >0.00227669016198917</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51032">CELA2B
</a> </td><td >2</td></tr>
<tr>
<td >0.00605587956591069</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/114827">FHAD1
</a> </td><td >3</td></tr>
<tr>
<td >0.186284104711258</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/128272">ARHGEF19
</a> </td><td >1</td></tr>
<tr>
<td >0.0266701956450269</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/84301">DDI2
</a> </td><td >0</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83858">ATAD3B
</a> </td><td >0</td></tr>
<tr>
<td >0.0022435200068377</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9906">SLC35E2
</a> </td><td >2</td></tr>
<tr>
<td >0.11135109462237</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/49856">WRAP73
</a> </td><td >1</td></tr>
<tr>
<td >0.0208912137902757</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> </td><td >2</td></tr>
<tr>
<td >0.311148721602421</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55187">VPS13D
</a> </td><td >2</td></tr>
<tr>
<td >0.000161299023917816</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >4</td></tr>
<tr>
<td >0.00465121021249548</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/60672">MIIP
</a> </td><td >2</td></tr>
<tr>
<td >0.0792588574654065</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> </td><td >1</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/127281">FAM213B
</a> </td><td >0</td></tr>
<tr>
<td >0.00285728479919667</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/388581">FAM132A
</a> </td><td >2</td></tr>
<tr>
<td >0.0732135852532978</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/126755">LRRC38
</a> </td><td >1</td></tr>
<tr>
<td >4.80520905909998e-06</td><td >0.0907992303807532</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/200197">TMEM51-AS1
</a> </td><td >3</td></tr>
<tr>
<td >0.00286965671785455</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >2</td></tr>
<tr>
<td >0.00176754608310614</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </td><td >4</td></tr>
<tr>
<td >0.00856660907980555</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </td><td >2</td></tr>
<tr>
<td >0.00506331773887081</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> </td><td >2</td></tr>
<tr>
<td >0.00690927144197961</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/654348">PRAMEF16
</a> </td><td >2</td></tr>
<tr>
<td >0.000265983808677817</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </td><td >3</td></tr>
<tr>
<td >0.000109320176074901</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> </td><td >4</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/148646"></a> </td><td >0</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/148398">SAMD11
</a> </td><td >0</td></tr>
<tr>
<td >0.00204938160389856</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55092">TMEM51
</a> </td><td >2</td></tr>
<tr>
<td >0.0828196987032402</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80045">GPR157
</a> </td><td >1</td></tr>
<tr>
<td >0.00179866015725605</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >2</td></tr>
<tr>
<td >0.349799181518687</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> </td><td >1</td></tr>
<tr>
<td >0.142546680957046</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54973">CPSF3L
</a> </td><td >1</td></tr>
<tr>
<td >0.000783537033129944</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1325">CORT
</a> </td><td >2</td></tr>
<tr>
<td >0.011094053477384</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> </td><td >3</td></tr>
<tr>
<td >7.48823225649176e-12</td><td >1.41497636718668e-07</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79854">LINC00115
</a> </td><td >6</td></tr>
<tr>
<td >0.0127322717520528</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> </td><td >2</td></tr>
<tr>
<td >0.0450229062141834</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/63976">PRDM16
</a> </td><td >2</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> </td><td >17</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/343069">HNRNPCL1
</a> </td><td >8</td></tr>
<tr>
<td >0.020392483297909</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80835">TAS1R1
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> </td><td >0</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/6248">RSC1A1
</a> </td><td >0</td></tr>
<tr>
<td >0.000662003026987046</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> </td><td >3</td></tr>
<tr>
<td >0.0418094636400133</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >1</td></tr>
<tr>
<td >0.00706863415254722</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> </td><td >2</td></tr>
<tr>
<td >0.0062528265649866</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79906">MORN1
</a> </td><td >0</td></tr>
<tr>
<td >0.070513300953718</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> </td><td >3</td></tr>
<tr>
<td >9.18600897792388e-07</td><td >0.017357882564685</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8863">PER3
</a> </td><td >6</td></tr>
<tr>
<td >0.000115965716413036</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/126767">AADACL3
</a> </td><td >3</td></tr>
<tr>
<td >6.52736898743012e-06</td><td >0.123341164386479</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </td><td >4</td></tr>
<tr>
<td >3.59366826810925e-05</td><td >0.679059555941924</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >4</td></tr>
<tr>
<td >0.00291939728735102</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339457">C1orf222
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339453">TMEM240
</a> </td><td >0</td></tr>
<tr>
<td >0.0287455554788011</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >3</td></tr>
<tr>
<td >1.73061565078569e-12</td><td >3.27017133372465e-08</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/348487">FAM131C
</a> </td><td >7</td></tr>
<tr>
<td >0.0105294827103153</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/943">TNFRSF8
</a> </td><td >2</td></tr>
<tr>
<td >0.000936129075336578</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27129">HSPB7
</a> </td><td >2</td></tr>
<tr>
<td >0.000865135243954929</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/100526739">APITD1-CORT
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23341">DNAJC16
</a> </td><td >0</td></tr>
<tr>
<td >0.000169602204662223</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> </td><td >3</td></tr>
<tr>
<td >0.000879051092671612</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> </td><td >3</td></tr>
<tr>
<td >8.86399731392373e-10</td><td >1.67494093243903e-05</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> </td><td >7</td></tr>
<tr>
<td >8.47602950260207e-06</td><td >0.160163053481169</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/391004">PRAMEF17
</a> </td><td >4</td></tr>
<tr>
<td >7.09207317317606e-08</td><td >0.00134011814680335</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >6</td></tr>
<tr>
<td >0.1981093539199</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> </td><td >1</td></tr>
<tr>
<td >0.00157595987941739</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> </td><td >3</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >0</td></tr>
<tr>
<td >0.066726913082928</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/63036">CELA2A
</a> </td><td >1</td></tr>
<tr>
<td >1.71729297449019e-11</td><td >3.24499680459667e-07</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> </td><td >10</td></tr>
<tr>
<td >2.56075727289584e-09</td><td >4.83880694286398e-05</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </td><td >6</td></tr>
<tr>
<td >0.222787852257136</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >1</td></tr>
<tr>
<td >0.147699621048859</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/84069">PLEKHN1
</a> </td><td >1</td></tr>
<tr>
<td >0.00447413239821481</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339448">C1orf174
</a> </td><td >0</td></tr>
<tr>
<td >0.158854956820068</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> </td><td >1</td></tr>
<tr>
<td >0.165420485671177</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/6339">SCNN1D
</a> </td><td >1</td></tr>
<tr>
<td >0.0453506935007674</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> </td><td >1</td></tr>
<tr>
<td >0.14069880750704</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >1</td></tr>
<tr>
<td >0.0750033104304537</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7799">PRDM2
</a> </td><td >2</td></tr>
<tr>
<td >0.109742706189405</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >1</td></tr>
<tr>
<td >0.00139669682929355</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339456">TMEM52
</a> </td><td >2</td></tr>
<tr>
<td >0.00111756440755595</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/390992">HES3
</a> </td><td >2</td></tr>
<tr>
<td >0.00506331773887081</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728661">SLC35E2B
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >0</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> </td><td >17</td></tr>
<tr>
<td >0.151068971931283</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/90231">KIAA2013
</a> </td><td >1</td></tr>
<tr>
<td >0.168648220639574</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54455">FBXO42
</a> </td><td >1</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79707">NOL9
</a> </td><td >0</td></tr>
<tr>
<td >0.243000493624436</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >1</td></tr>
<tr>
<td >0.00445888577090392</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/140625">ACTRT2
</a> </td><td >2</td></tr>
<tr>
<td >0.0845555408953098</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/388595">TMEM82
</a> </td><td >1</td></tr>
<tr>
<td >0.000882628852572953</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >2</td></tr>
<tr>
<td >0.00439814205443112</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >2</td></tr>
<tr>
<td >0.0618119465616677</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57801">HES4
</a> </td><td >1</td></tr>
<tr>
<td >0.0174377198343824</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> </td><td >2</td></tr>
<tr>
<td >0.191452841598453</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/254173">TTLL10
</a> </td><td >1</td></tr>
<tr>
<td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> </td><td >16</td></tr>
<tr>
<td >0.00147678636624937</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/80772">GLTPD1
</a> </td><td >2</td></tr>
<tr>
<td >7.47752217922226e-08</td><td >0.00141295259098584</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >6</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >0</td></tr>
<tr>
<td >0.00807588560168337</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/473">RERE
</a> </td><td >3</td></tr>
<tr>
<td >0.184741093153747</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </td><td >1</td></tr>
<tr>
<td >0.176627618410665</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >1</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/343071">PRAMEF10
</a> </td><td >0</td></tr>
<tr>
<td >0.00648640930821798</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >2</td></tr>
<tr>
<td >0.301021519205697</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57540">PTCHD2
</a> </td><td >1</td></tr>
<tr>
<td >2.23698283664531e-05</td><td >0.422700276812497</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/387509">GPR153
</a> </td><td >4</td></tr>
<tr>
<td >0.086602757238789</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >1</td></tr>
<tr>
<td >0.0487969387869713</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/93190">C1orf158
</a> </td><td >1</td></tr>
<tr>
<td >0.115768262609746</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >2</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </td><td >0</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/155184">SLC2A7
</a> </td><td >0</td></tr>
