<!DOCTYPE html>
<html>


<script>
function myFunction()
{

alert("These are the results for the Gene Ontology Biological Process analysis, performed over genes that are different from the reference on your vcf file. Columns are sortable, just click on the header and you'll have the whole column sorted.\n\nSome additional information links have been added, they are highlighted in blue. In order not to leave the current document right click them and select open in a new tab/window.\n\nHeaders and some fields have additional information, when you point to them a small box will appear with additional information.\n\nWe have inserted some links at the top of the document, click on any of them to view that part of the analysis.\n\nCNAG");
}

</script>

<head>
</head>
<body>

 <% include ../../results_header.ejs %>



<hr>

<script>
var stIsIE = /*@cc_on!@*/false;

sorttable = {
  init: function() {
  
    if (arguments.callee.done) return;
    // flag this function so we don't do the same thing twice
    arguments.callee.done = true;
    // kill the timer
    if (_timer) clearInterval(_timer);

    if (!document.createElement || !document.getElementsByTagName) return;

    sorttable.DATE_RE = /^(\d\d?)[\/\.-](\d\d?)[\/\.-]((\d\d)?\d\d)$/;

    forEach(document.getElementsByTagName('table'), function(table) {
      if (table.className.search(/\bsortable\b/) != -1) {
        sorttable.makeSortable(table);
      }
    });

  },

  makeSortable: function(table) {
    if (table.getElementsByTagName('thead').length == 0) {
      // table doesn't have a tHead. Since it should have, create one and
      // put the first table row in it.
      the = document.createElement('thead');
      the.appendChild(table.rows[0]);
      table.insertBefore(the,table.firstChild);
    }
    // Safari doesn't support table.tHead, sigh
    if (table.tHead == null) table.tHead = table.getElementsByTagName('thead')[0];

    if (table.tHead.rows.length != 1) return; // can't cope with two header rows

    // Sorttable v1 put rows with a class of "sortbottom" at the bottom (as
    // "total" rows, for example). This is B&R, since what you're supposed
    // to do is put them in a tfoot. So, if there are sortbottom rows,
    // for backwards compatibility, move them to tfoot (creating it if needed).
    sortbottomrows = [];
    for (var i=0; i<table.rows.length; i++) {
      if (table.rows[i].className.search(/\bsortbottom\b/) != -1) {
        sortbottomrows[sortbottomrows.length] = table.rows[i];
      }
    }
    if (sortbottomrows) {
      if (table.tFoot == null) {
        // table doesn't have a tfoot. Create one.
        tfo = document.createElement('tfoot');
        table.appendChild(tfo);
      }
      for (var i=0; i<sortbottomrows.length; i++) {
        tfo.appendChild(sortbottomrows[i]);
      }
      delete sortbottomrows;
    }

    // work through each column and calculate its type
    headrow = table.tHead.rows[0].cells;
    for (var i=0; i<headrow.length; i++) {
      // manually override the type with a sorttable_type attribute
      if (!headrow[i].className.match(/\bsorttable_nosort\b/)) { // skip this col
        mtch = headrow[i].className.match(/\bsorttable_([a-z0-9]+)\b/);
        if (mtch) { override = mtch[1]; }
	      if (mtch && typeof sorttable["sort_"+override] == 'function') {
	        headrow[i].sorttable_sortfunction = sorttable["sort_"+override];
	      } else {
	        headrow[i].sorttable_sortfunction = sorttable.guessType(table,i);
	      }
	      // make it clickable to sort
	      headrow[i].sorttable_columnindex = i;
	      headrow[i].sorttable_tbody = table.tBodies[0];
	      dean_addEvent(headrow[i],"click", sorttable.innerSortFunction = function(e) {

          if (this.className.search(/\bsorttable_sorted\b/) != -1) {
            // if we're already sorted by this column, just
            // reverse the table, which is quicker
            sorttable.reverse(this.sorttable_tbody);
            this.className = this.className.replace('sorttable_sorted',
                                                    'sorttable_sorted_reverse');
            this.removeChild(document.getElementById('sorttable_sortfwdind'));
            sortrevind = document.createElement('span');
            sortrevind.id = "sorttable_sortrevind";
            sortrevind.innerHTML = stIsIE ? '&nbsp<font face="webdings">5</font>' : '&nbsp;&#x25B4;';
            this.appendChild(sortrevind);
            return;
          }
          if (this.className.search(/\bsorttable_sorted_reverse\b/) != -1) {
            // if we're already sorted by this column in reverse, just
            // re-reverse the table, which is quicker
            sorttable.reverse(this.sorttable_tbody);
            this.className = this.className.replace('sorttable_sorted_reverse',
                                                    'sorttable_sorted');
            this.removeChild(document.getElementById('sorttable_sortrevind'));
            sortfwdind = document.createElement('span');
            sortfwdind.id = "sorttable_sortfwdind";
            sortfwdind.innerHTML = stIsIE ? '&nbsp<font face="webdings">6</font>' : '&nbsp;&#x25BE;';
            this.appendChild(sortfwdind);
            return;
          }

          // remove sorttable_sorted classes
          theadrow = this.parentNode;
          forEach(theadrow.childNodes, function(cell) {
            if (cell.nodeType == 1) { // an element
              cell.className = cell.className.replace('sorttable_sorted_reverse','');
              cell.className = cell.className.replace('sorttable_sorted','');
            }
          });
          sortfwdind = document.getElementById('sorttable_sortfwdind');
          if (sortfwdind) { sortfwdind.parentNode.removeChild(sortfwdind); }
          sortrevind = document.getElementById('sorttable_sortrevind');
          if (sortrevind) { sortrevind.parentNode.removeChild(sortrevind); }

          this.className += ' sorttable_sorted';
          sortfwdind = document.createElement('span');
          sortfwdind.id = "sorttable_sortfwdind";
          sortfwdind.innerHTML = stIsIE ? '&nbsp<font face="webdings">6</font>' : '&nbsp;&#x25BE;';
          this.appendChild(sortfwdind);

	        // build an array to sort. This is a Schwartzian transform thing,
	        // i.e., we "decorate" each row with the actual sort key,
	        // sort based on the sort keys, and then put the rows back in order
	        // which is a lot faster because you only do getInnerText once per row
	        row_array = [];
	        col = this.sorttable_columnindex;
	        rows = this.sorttable_tbody.rows;
	        for (var j=0; j<rows.length; j++) {
	          row_array[row_array.length] = [sorttable.getInnerText(rows[j].cells[col]), rows[j]];
	        }
	        /* If you want a stable sort, uncomment the following line */
	        //sorttable.shaker_sort(row_array, this.sorttable_sortfunction);
	        /* and comment out this one */
	        row_array.sort(this.sorttable_sortfunction);

	        tb = this.sorttable_tbody;
	        for (var j=0; j<row_array.length; j++) {
	          tb.appendChild(row_array[j][1]);
	        }

	        delete row_array;
	      });
	    }
    }
  },

  guessType: function(table, column) {
    // guess the type of a column based on its first non-blank row
    sortfn = sorttable.sort_alpha;
    for (var i=0; i<table.tBodies[0].rows.length; i++) {
      text = sorttable.getInnerText(table.tBodies[0].rows[i].cells[column]);
      if (text != '') {
        if (text.match(/^-?[£$¤]?[\d,.]+%?$/)) {
          return sorttable.sort_numeric;
        }
        // check for a date: dd/mm/yyyy or dd/mm/yy
        // can have / or . or - as separator
        // can be mm/dd as well
        possdate = text.match(sorttable.DATE_RE)
        if (possdate) {
          // looks like a date
          first = parseInt(possdate[1]);
          second = parseInt(possdate[2]);
          if (first > 12) {
            // definitely dd/mm
            return sorttable.sort_ddmm;
          } else if (second > 12) {
            return sorttable.sort_mmdd;
          } else {
            // looks like a date, but we can't tell which, so assume
            // that it's dd/mm (English imperialism!) and keep looking
            sortfn = sorttable.sort_ddmm;
          }
        }
      }
    }
    return sortfn;
  },

  getInnerText: function(node) {
    // gets the text we want to use for sorting for a cell.
    // strips leading and trailing whitespace.
    // this is *not* a generic getInnerText function; it's special to sorttable.
    // for example, you can override the cell text with a customkey attribute.
    // it also gets .value for <input> fields.

    if (!node) return "";

    hasInputs = (typeof node.getElementsByTagName == 'function') &&
                 node.getElementsByTagName('input').length;

    if (node.getAttribute("sorttable_customkey") != null) {
      return node.getAttribute("sorttable_customkey");
    }
    else if (typeof node.textContent != 'undefined' && !hasInputs) {
      return node.textContent.replace(/^\s+|\s+$/g, '');
    }
    else if (typeof node.innerText != 'undefined' && !hasInputs) {
      return node.innerText.replace(/^\s+|\s+$/g, '');
    }
    else if (typeof node.text != 'undefined' && !hasInputs) {
      return node.text.replace(/^\s+|\s+$/g, '');
    }
    else {
      switch (node.nodeType) {
        case 3:
          if (node.nodeName.toLowerCase() == 'input') {
            return node.value.replace(/^\s+|\s+$/g, '');
          }
        case 4:
          return node.nodeValue.replace(/^\s+|\s+$/g, '');
          break;
        case 1:
        case 11:
          var innerText = '';
          for (var i = 0; i < node.childNodes.length; i++) {
            innerText += sorttable.getInnerText(node.childNodes[i]);
          }
          return innerText.replace(/^\s+|\s+$/g, '');
          break;
        default:
          return '';
      }
    }
  },

  reverse: function(tbody) {
    // reverse the rows in a tbody
    newrows = [];
    for (var i=0; i<tbody.rows.length; i++) {
      newrows[newrows.length] = tbody.rows[i];
    }
    for (var i=newrows.length-1; i>=0; i--) {
       tbody.appendChild(newrows[i]);
    }
    delete newrows;
  },

  /* sort functions
     each sort function takes two parameters, a and b
     you are comparing a[0] and b[0] */
  sort_numeric: function(a,b) {
    return (Number(a[0])-Number(b[0]));
  },

  sort_alpha: function(a,b) {
    if (a[0]==b[0]) return 0;
    if (a[0]<b[0]) return -1;
    return 1;
  },
  sort_ddmm: function(a,b) {
    mtch = a[0].match(sorttable.DATE_RE);
    y = mtch[3]; m = mtch[2]; d = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt1 = y+m+d;
    mtch = b[0].match(sorttable.DATE_RE);
    y = mtch[3]; m = mtch[2]; d = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt2 = y+m+d;
    if (dt1==dt2) return 0;
    if (dt1<dt2) return -1;
    return 1;
  },
  sort_mmdd: function(a,b) {
    mtch = a[0].match(sorttable.DATE_RE);
    y = mtch[3]; d = mtch[2]; m = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt1 = y+m+d;
    mtch = b[0].match(sorttable.DATE_RE);
    y = mtch[3]; d = mtch[2]; m = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt2 = y+m+d;
    if (dt1==dt2) return 0;
    if (dt1<dt2) return -1;
    return 1;
  },

  shaker_sort: function(list, comp_func) {
    // A stable sort function to allow multi-level sorting of data
    // see: http://en.wikipedia.org/wiki/Cocktail_sort
    // thanks to Joseph Nahmias
    var b = 0;
    var t = list.length - 1;
    var swap = true;

    while(swap) {
        swap = false;
        for(var i = b; i < t; ++i) {
            if ( comp_func(list[i], list[i+1]) > 0 ) {
                var q = list[i]; list[i] = list[i+1]; list[i+1] = q;
                swap = true;
            }
        } // for
        t--;

        if (!swap) break;

        for(var i = t; i > b; --i) {
            if ( comp_func(list[i], list[i-1]) < 0 ) {
                var q = list[i]; list[i] = list[i-1]; list[i-1] = q;
                swap = true;
            }
        } // for
        b++;

    } // while(swap)
  }
}

/* ******************************************************************
   Supporting functions: bundled here to avoid depending on a library
   ****************************************************************** */

// Dean Edwards/Matthias Miller/John Resig

/* for Mozilla/Opera9 */
if (document.addEventListener) {
    document.addEventListener("DOMContentLoaded", sorttable.init, false);
}

/* for Internet Explorer */
/*@cc_on @*/
/*@if (@_win32)
    document.write("<script id=__ie_onload defer src=javascript:void(0)><\/script>");
    var script = document.getElementById("__ie_onload");
    script.onreadystatechange = function() {
        if (this.readyState == "complete") {
            sorttable.init(); // call the onload handler
        }
    };
/*@end @*/

/* for Safari */
if (/WebKit/i.test(navigator.userAgent)) { // sniff
    var _timer = setInterval(function() {
        if (/loaded|complete/.test(document.readyState)) {
            sorttable.init(); // call the onload handler
        }
    }, 10);
}

/* for other browsers */
window.onload = sorttable.init;

// written by Dean Edwards, 2005
// with input from Tino Zijdel, Matthias Miller, Diego Perini

// http://dean.edwards.name/weblog/2005/10/add-event/

function dean_addEvent(element, type, handler) {
	if (element.addEventListener) {
		element.addEventListener(type, handler, false);
	} else {
		// assign each event handler a unique ID
		if (!handler.$$guid) handler.$$guid = dean_addEvent.guid++;
		// create a hash table of event types for the element
		if (!element.events) element.events = {};
		// create a hash table of event handlers for each element/event pair
		var handlers = element.events[type];
		if (!handlers) {
			handlers = element.events[type] = {};
			// store the existing event handler (if there is one)
			if (element["on" + type]) {
				handlers[0] = element["on" + type];
			}
		}
		// store the event handler in the hash table
		handlers[handler.$$guid] = handler;
		// assign a global event handler to do all the work
		element["on" + type] = handleEvent;
	}
};
// a counter used to create unique IDs
dean_addEvent.guid = 1;

function removeEvent(element, type, handler) {
	if (element.removeEventListener) {
		element.removeEventListener(type, handler, false);
	} else {
		// delete the event handler from the hash table
		if (element.events && element.events[type]) {
			delete element.events[type][handler.$$guid];
		}
	}
};

function handleEvent(event) {
	var returnValue = true;
	// grab the event object (IE uses a global event object)
	event = event || fixEvent(((this.ownerDocument || this.document || this).parentWindow || window).event);
	// get a reference to the hash table of event handlers
	var handlers = this.events[event.type];
	// execute each event handler
	for (var i in handlers) {
		this.$$handleEvent = handlers[i];
		if (this.$$handleEvent(event) === false) {
			returnValue = false;
		}
	}
	return returnValue;
};

function fixEvent(event) {
	// add W3C standard event methods
	event.preventDefault = fixEvent.preventDefault;
	event.stopPropagation = fixEvent.stopPropagation;
	return event;
};
fixEvent.preventDefault = function() {
	this.returnValue = false;
};
fixEvent.stopPropagation = function() {
  this.cancelBubble = true;
}

// Dean's forEach: http://dean.edwards.name/base/forEach.js
/*
	forEach, version 1.0
	Copyright 2006, Dean Edwards
	License: http://www.opensource.org/licenses/mit-license.php
*/

// array-like enumeration
if (!Array.forEach) { // mozilla already supports this
	Array.forEach = function(array, block, context) {
		for (var i = 0; i < array.length; i++) {
			block.call(context, array[i], i, array);
		}
	};
}

// generic enumeration
Function.prototype.forEach = function(object, block, context) {
	for (var key in object) {
		if (typeof this.prototype[key] == "undefined") {
			block.call(context, object[key], key, object);
		}
	}
};

// character enumeration
String.forEach = function(string, block, context) {
	Array.forEach(string.split(""), function(chr, index) {
		block.call(context, chr, index, string);
	});
};

// globally resolve forEach enumeration
var forEach = function(object, block, context) {
	if (object) {
		var resolve = Object; // default
		if (object instanceof Function) {
			// functions have a "length" property
			resolve = Function;
		} else if (object.forEach instanceof Function) {
			// the object implements a custom forEach method so use that
			object.forEach(block, context);
			return;
		} else if (typeof object == "string") {
			// the object is a string
			resolve = String;
		} else if (typeof object.length == "number") {
			// the object is array-like
			resolve = Array;
		}
		resolve.forEach(object, block, context);
	}
};
</script>



<style type=text/css>
	.sortable {
		padding: 0;
		margin: 0;
		border-collapse: collapse;
		font-size: 0.8em; }
			.sortable caption {
				padding-bottom: 0.3em;
				font-size: 1.5em;
				text-align: left; }
			.sortable th {
				padding: 0.2em;
				background-color: #4254B2;
				border: 1px solid #99A8F3;
				color: #FFF;
				text-align: left; }
			.sortable td {
				padding: 0.2em;
				background-color: rgba(189, 200, 255, 0.7);
				border: 1px solid #6295BA; }
			.sortable tr:hover th[scope=row], .sortable tr:hover td {
				background-color: #6295BA; }
			.sortable a {
				color: #192C8C; }
	</style>
<table class="sortable">
<caption>GO Biological Process Table</caption>

<tr>
<th scope="col"><p title="Gene ontology identifier">GO ID</p></th> 
<th scope="col"><p title=" Gene ontology meaning ">GO MEANING</p></th> 
<th scope="col"><p title=" Genes that have dominant like inheritance pattern
related to this ontology "> Genes affected </p></th> 
<th scope="col"><p title=" Total amount of genes in this ontology"> Total genes </p></th>

</tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008092#term=children"> GO:0008092 </a>
</td><td>cytoskeletal protein binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>679</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003677#term=children"> GO:0003677 </a>
</td><td>DNA binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390992">HES3
</a> </div><td>2361</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019787#term=children"> GO:0019787 </a>
</td><td>small conjugating protein ligase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>275</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004697#term=children"> GO:0004697 </a>
</td><td>protein kinase C activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>16</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004674#term=children"> GO:0004674 </a>
</td><td>protein serine/threonine kinase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>433</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:1901363#term=children"> GO:1901363 </a>
</td><td>heterocyclic compound binding</td><td><div><p title="CLCNKA DFFB MTOR PGD PRKCZ H6PD KIF1B CAMTA1 CASZ1 PANK4 ATAD3C HNRNPCL1"> 12 </p>
</div><div><p title="CLCNKB DFFB EPHA2 PRKCZ H6PD SPEN KIF1B CAMTA1 CHD5 NADK ATAD3C"> 11 </p>
</div><div><p title="CLCNKA DFFB MTOR PRKCZ DHRS3 H6PD KIF1B CAMTA1 CHD5 CASZ1 HES3"> 11 </p>
</div><td>5226</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016301#term=children"> GO:0016301 </a>
</td><td>kinase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>753</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008017#term=children"> GO:0008017 </a>
</td><td>microtubule binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>151</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004345#term=children"> GO:0004345 </a>
</td><td>glucose-6-phosphate dehydrogenase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>2</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016740#term=children"> GO:0016740 </a>
</td><td>transferase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>1745</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0071889#term=children"> GO:0071889 </a>
</td><td>14-3-3 protein binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>16</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0046914#term=children"> GO:0046914 </a>
</td><td>transition metal ion binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/388591">RNF207
</a> </div><td>1442</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0050661#term=children"> GO:0050661 </a>
</td><td>NADP binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>46</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030246#term=children"> GO:0030246 </a>
</td><td>carbohydrate binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>220</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032555#term=children"> GO:0032555 </a>
</td><td>purine ribonucleotide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1839</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003774#term=children"> GO:0003774 </a>
</td><td>motor activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>130</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032553#term=children"> GO:0032553 </a>
</td><td>ribonucleotide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1854</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0047936#term=children"> GO:0047936 </a>
</td><td>glucose 1-dehydrogenase [NAD(P)] activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>1</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001882#term=children"> GO:0001882 </a>
</td><td>nucleoside binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1824</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016881#term=children"> GO:0016881 </a>
</td><td>acid-amino acid ligase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>296</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003676#term=children"> GO:0003676 </a>
</td><td>nucleic acid binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/343069">HNRNPCL1
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23261">CAMTA1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390992">HES3
</a> </div><td>3311</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004518#term=children"> GO:0004518 </a>
</td><td>nuclease activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><td>172</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005543#term=children"> GO:0005543 </a>
</td><td>phospholipid binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>502</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008134#term=children"> GO:0008134 </a>
</td><td>transcription factor binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </div><div><p title="MTOR PRAMEF1 PRAMEF2 PRAMEF10 HES3 PRAMEF12 PRAMEF17 PRAMEF4 PRAMEF13 PRAMEF11 PRAMEF22"> 11 </p>
</div><td>461</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0051427#term=children"> GO:0051427 </a>
</td><td>hormone receptor binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/343071">PRAMEF10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/391004">PRAMEF17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><td>149</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0048037#term=children"> GO:0048037 </a>
</td><td>cofactor binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </div><td>257</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032549#term=children"> GO:0032549 </a>
</td><td>ribonucleoside binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1814</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0046872#term=children"> GO:0046872 </a>
</td><td>metal ion binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/388591">RNF207
</a> </div><td>3981</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019904#term=children"> GO:0019904 </a>
</td><td>protein domain specific binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>526</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001948#term=children"> GO:0001948 </a>
</td><td>glycoprotein binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>58</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019899#term=children"> GO:0019899 </a>
</td><td>enzyme binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> </div><td>1141</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0050662#term=children"> GO:0050662 </a>
</td><td>coenzyme binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </div><td>181</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005488#term=children"> GO:0005488 </a>
</td><td>binding</td><td><div><p title="CLCNKA DFFB MEGF6 MTOR PGD PLOD1 PRKCZ TNFRSF1B H6PD MASP2 UTS2 KIF1B CAMTA1 FBXO2 HSPB7 ARHGEF16 CASZ1 PANK4 PLEKHG5 PRAMEF1 PRAMEF2 ATAD3C NPHP4 HNRNPCL1 SPATA21 PRAMEF12 PRAMEF4 PRAMEF11 PRAMEF22"> 29 </p>
</div><div><p title="CLCNKB DFFB MEGF6 EPHA2 PRKCZ H6PD UBE4B SPEN KIF1B CAMTA1 CHD5 FBXO2 PRAMEF1 PRAMEF2 NADK AGMAT MIB2 ATAD3C SPATA21 PRAMEF4 PRAMEF13 PRAMEF11"> 22 </p>
</div><div><p title="CLCNKA DFFB MEGF6 MTOR PEX14 PRKCZ TNFRSF1B DHRS3 H6PD UBE4B ACOT7 KIF1B CAMTA1 CHD5 FBXO2 HSPB7 CASZ1 PRAMEF1 PRAMEF2 MMEL1 PRAMEF10 SPATA21 RNF207 HES3 PRAMEF12 PRAMEF17 PRAMEF4 PRAMEF13 PRAMEF11 PRAMEF22"> 30 </p>
</div><td>11957</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043168#term=children"> GO:0043168 </a>
</td><td>anion binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>2717</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032559#term=children"> GO:0032559 </a>
</td><td>adenyl ribonucleotide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1498</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043274#term=children"> GO:0043274 </a>
</td><td>phospholipase binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>11</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005102#term=children"> GO:0005102 </a>
</td><td>receptor binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </div><div><p title="PEX14 PRAMEF1 PRAMEF2 PRAMEF10 PRAMEF12 PRAMEF17 PRAMEF4 PRAMEF13 PRAMEF11 PRAMEF22"> 10 </p>
</div><td>1197</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016462#term=children"> GO:0016462 </a>
</td><td>pyrophosphatase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>793</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016763#term=children"> GO:0016763 </a>
</td><td>transferase activity, transferring pentosyl groups</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><td>45</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016788#term=children"> GO:0016788 </a>
</td><td>hydrolase activity, acting on ester bonds</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </div><td>756</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004516#term=children"> GO:0004516 </a>
</td><td>nicotinate phosphoribosyltransferase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><td>3</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032550#term=children"> GO:0032550 </a>
</td><td>purine ribonucleoside binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1810</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035639#term=children"> GO:0035639 </a>
</td><td>purine ribonucleoside triphosphate binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1801</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003674#term=children"> GO:0003674 </a>
</td><td>molecular_function</td><td><div><p title="CLCNKA DFFB MEGF6 MTOR PGD PLOD1 PRKCZ TNFRSF1B PER3 H6PD MASP2 UTS2 KIF1B CAMTA1 FBXO2 HSPB7 ARHGEF16 CASZ1 PANK4 PLEKHG5 PRAMEF1 PRAMEF2 ATAD3C NPHP4 HNRNPCL1 SPATA21 PRAMEF12 PRAMEF4 PRAMEF11 PRAMEF22"> 30 </p>
</div><div><p title="CLCNKB DFFB MEGF6 EPHA2 PRKCZ RSC1A1 PER3 H6PD UBE4B SPEN KIF1B CAMTA1 CHD5 FBXO2 PTCHD2 PRAMEF1 PRAMEF2 NADK AGMAT MIB2 ATAD3C SPATA21 PRAMEF4 PRAMEF13 PRAMEF11"> 25 </p>
</div><div><p title="CLCNKA DFFB MEGF6 MTOR PEX14 PRKCZ TNFRSF1B DHRS3 H6PD UBE4B ACOT7 KIF1B CAMTA1 CHD5 FBXO2 HSPB7 CASZ1 PRAMEF1 PRAMEF2 MMEL1 SLC2A7 PRAMEF10 SPATA21 GPR153 RNF207 HES3 PRAMEF12 PRAMEF17 PRAMEF4 PRAMEF13 PRAMEF11 PRAMEF22"> 32 </p>
</div><td>15343</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0033218#term=children"> GO:0033218 </a>
</td><td>amide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>157</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016491#term=children"> GO:0016491 </a>
</td><td>oxidoreductase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>703</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016787#term=children"> GO:0016787 </a>
</td><td>hydrolase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> </div><td>2353</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515#term=children"> GO:0005515 </a>
</td><td>protein binding</td><td><div><p title="DFFB MEGF6 MTOR PLOD1 PRKCZ TNFRSF1B MASP2 UTS2 KIF1B FBXO2 HSPB7 ARHGEF16 PRAMEF1 PRAMEF2 NPHP4 PRAMEF12 PRAMEF4 PRAMEF11 PRAMEF22"> 19 </p>
</div><div><p title="DFFB MEGF6 EPHA2 PRKCZ UBE4B SPEN KIF1B FBXO2 PRAMEF1 PRAMEF2 MIB2 PRAMEF4 PRAMEF13 PRAMEF11"> 14 </p>
</div><div><p title="DFFB MEGF6 MTOR PEX14 PRKCZ TNFRSF1B UBE4B KIF1B FBXO2 HSPB7 PRAMEF1 PRAMEF2 PRAMEF10 HES3 PRAMEF12 PRAMEF17 PRAMEF4 PRAMEF13 PRAMEF11 PRAMEF22"> 20 </p>
</div><td>7535</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016887#term=children"> GO:0016887 </a>
</td><td>ATPase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>355</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016616#term=children"> GO:0016616 </a>
</td><td>oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>115</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042277#term=children"> GO:0042277 </a>
</td><td>peptide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>153</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043169#term=children"> GO:0043169 </a>
</td><td>cation binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54897">CASZ1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/388591">RNF207
</a> </div><td>4047</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003777#term=children"> GO:0003777 </a>
</td><td>microtubule motor activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>77</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043167#term=children"> GO:0043167 </a>
</td><td>ion binding</td><td><div><p title="MEGF6 MTOR PLOD1 PRKCZ MASP2 KIF1B ARHGEF16 CASZ1 PANK4 PLEKHG5 ATAD3C SPATA21"> 12 </p>
</div><div><p title="MEGF6 EPHA2 PRKCZ KIF1B CHD5 NADK AGMAT MIB2 ATAD3C SPATA21"> 10 </p>
</div><div><p title="MEGF6 MTOR PRKCZ ACOT7 KIF1B CHD5 CASZ1 MMEL1 SPATA21 RNF207"> 10 </p>
</div><td>6046</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015459#term=children"> GO:0015459 </a>
</td><td>potassium channel regulator activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>36</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019894#term=children"> GO:0019894 </a>
</td><td>kinesin binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>22</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035257#term=children"> GO:0035257 </a>
</td><td>nuclear hormone receptor binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/343071">PRAMEF10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/391004">PRAMEF17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><td>129</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004672#term=children"> GO:0004672 </a>
</td><td>protein kinase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>582</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015631#term=children"> GO:0015631 </a>
</td><td>tubulin binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>207</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0017111#term=children"> GO:0017111 </a>
</td><td>nucleoside-triphosphatase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>755</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005509#term=children"> GO:0005509 </a>
</td><td>calcium ion binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1953">MEGF6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/374955">SPATA21
</a> </div><td>670</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019901#term=children"> GO:0019901 </a>
</td><td>protein kinase binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>375</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016614#term=children"> GO:0016614 </a>
</td><td>oxidoreductase activity, acting on CH-OH group of donors</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>128</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042974#term=children"> GO:0042974 </a>
</td><td>retinoic acid receptor binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/65121">PRAMEF1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65122">PRAMEF2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/343071">PRAMEF10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/390999">PRAMEF12
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/391004">PRAMEF17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400735">PRAMEF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/400736">PRAMEF13
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/440560">PRAMEF11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/653606">PRAMEF22
</a> </div><td>43</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016818#term=children"> GO:0016818 </a>
</td><td>hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>795</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004536#term=children"> GO:0004536 </a>
</td><td>deoxyribonuclease activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><td>40</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030554#term=children"> GO:0030554 </a>
</td><td>adenyl nucleotide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1514</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004842#term=children"> GO:0004842 </a>
</td><td>ubiquitin-protein ligase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>259</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016757#term=children"> GO:0016757 </a>
</td><td>transferase activity, transferring glycosyl groups</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </div><td>266</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016247#term=children"> GO:0016247 </a>
</td><td>channel regulator activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/6248">RSC1A1
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>87</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008289#term=children"> GO:0008289 </a>
</td><td>lipid binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </div><td>746</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019900#term=children"> GO:0019900 </a>
</td><td>kinase binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>416</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008270#term=children"> GO:0008270 </a>
</td><td>zinc ion binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/388591">RNF207
</a> </div><td>1201</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001540#term=children"> GO:0001540 </a>
</td><td>beta-amyloid binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>24</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001883#term=children"> GO:0001883 </a>
</td><td>purine nucleoside binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1813</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043560#term=children"> GO:0043560 </a>
</td><td>insulin receptor substrate binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>13</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016773#term=children"> GO:0016773 </a>
</td><td>phosphotransferase activity, alcohol group as acceptor</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>697</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003824#term=children"> GO:0003824 </a>
</td><td>catalytic activity</td><td><div><p title="DFFB MTOR PGD PLOD1 PRKCZ H6PD MASP2 KIF1B FBXO2 PANK4 ATAD3C"> 11 </p>
</div><div><p title="DFFB EPHA2 PRKCZ H6PD UBE4B KIF1B CHD5 FBXO2 NADK AGMAT MIB2 ATAD3C"> 12 </p>
</div><div><p title="DFFB MTOR PRKCZ DHRS3 H6PD UBE4B ACOT7 KIF1B CHD5 FBXO2 MMEL1"> 11 </p>
</div><td>5339</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524#term=children"> GO:0005524 </a>
</td><td>ATP binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1466</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0017076#term=children"> GO:0017076 </a>
</td><td>purine nucleotide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>1857</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0052689#term=children"> GO:0052689 </a>
</td><td>carboxylic ester hydrolase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </div><td>110</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0097159#term=children"> GO:0097159 </a>
</td><td>organic cyclic compound binding</td><td><div><p title="CLCNKA DFFB MTOR PGD PRKCZ H6PD KIF1B CAMTA1 CASZ1 PANK4 ATAD3C HNRNPCL1"> 12 </p>
</div><div><p title="CLCNKB DFFB EPHA2 PRKCZ H6PD SPEN KIF1B CAMTA1 CHD5 NADK ATAD3C"> 11 </p>
</div><div><p title="CLCNKA DFFB MTOR PRKCZ DHRS3 H6PD KIF1B CAMTA1 CHD5 CASZ1 HES3"> 11 </p>
</div><td>5299</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0017057#term=children"> GO:0017057 </a>
</td><td>6-phosphogluconolactonase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </div><td>2</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000166#term=children"> GO:0000166 </a>
</td><td>nucleotide binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/343069">HNRNPCL1
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>2301</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016879#term=children"> GO:0016879 </a>
</td><td>ligase activity, forming carbon-nitrogen bonds</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>328</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:1901265#term=children"> GO:1901265 </a>
</td><td>nucleoside phosphate binding</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/343069">HNRNPCL1
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>2302</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016874#term=children"> GO:0016874 </a>
</td><td>ligase activity</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </div><td>489</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016817#term=children"> GO:0016817 </a>
</td><td>hydrolase activity, acting on acid anhydrides</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>799</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016772#term=children"> GO:0016772 </a>
</td><td>transferase activity, transferring phosphorus-containing groups</td><td><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </div><td>890</td></td></tr>
<tr>
<td><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0036094#term=children"> GO:0036094 </a>
</td><td>small molecule binding</td><td><div><p title="CLCNKA MTOR PGD PLOD1 PRKCZ H6PD KIF1B PANK4 ATAD3C HNRNPCL1"> 10 </p>
</div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/219293">ATAD3C
</a> </div><div><a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26038">CHD5
</a> </div><td>2447</td></td></tr>
