<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032839#term=children"> GO:0032839 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> </td><td >dendrite cytoplasm</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031982#term=children"> GO:0031982 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000228#term=children"> GO:0000228 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >nuclear chromosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043240#term=children"> GO:0043240 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> </td><td >Fanconi anaemia nuclear complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030529#term=children"> GO:0030529 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/343069">HNRNPCL1
</a> </td><td >ribonucleoprotein complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0048471#term=children"> GO:0048471 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >perinuclear region of cytoplasm</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005932#term=children"> GO:0005932 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> </td><td >microtubule basal body</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043226#term=children"> GO:0043226 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 62 in total </p>
</td><td >organelle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032587#term=children"> GO:0032587 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >ruffle membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031256#term=children"> GO:0031256 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >leading edge membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031226#term=children"> GO:0031226 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> </td><td >intrinsic to plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031975#term=children"> GO:0031975 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 10 in total </p>
</td><td >envelope</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044439#term=children"> GO:0044439 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >peroxisomal part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005667#term=children"> GO:0005667 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> </td><td >transcription factor complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031253#term=children"> GO:0031253 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >cell projection membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005575#term=children"> GO:0005575 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 109 in total </p>
</td><td >cellular_component</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005912#term=children"> GO:0005912 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >adherens junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044432#term=children"> GO:0044432 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </td><td >endoplasmic reticulum part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005813#term=children"> GO:0005813 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/49856">WRAP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> </td><td >centrosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031941#term=children"> GO:0031941 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >filamentous actin</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042995#term=children"> GO:0042995 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 16 in total </p>
</td><td >cell projection</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043025#term=children"> GO:0043025 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >neuronal cell body</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005623#term=children"> GO:0005623 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 91 in total </p>
</td><td >cell</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005764#term=children"> GO:0005764 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >lysosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000790#term=children"> GO:0000790 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >nuclear chromatin</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045179#term=children"> GO:0045179 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >apical cortex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000118#term=children"> GO:0000118 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/473">RERE
</a> </td><td >histone deacetylase complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030659#term=children"> GO:0030659 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >cytoplasmic vesicle membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043227#term=children"> GO:0043227 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 57 in total </p>
</td><td >membrane-bounded organelle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005615#term=children"> GO:0005615 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/388581">FAM132A
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1325">CORT
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> </td><td >extracellular space</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031306#term=children"> GO:0031306 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >intrinsic to mitochondrial outer membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030427#term=children"> GO:0030427 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >site of polarized growth</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005903#term=children"> GO:0005903 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/6248">RSC1A1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >brush border</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031974#term=children"> GO:0031974 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 15 in total </p>
</td><td >membrane-enclosed lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005856#term=children"> GO:0005856 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 11 in total </p>
</td><td >cytoskeleton</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070160#term=children"> GO:0070160 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >occluding junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044464#term=children"> GO:0044464 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 91 in total </p>
</td><td >cell part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015629#term=children"> GO:0015629 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >actin cytoskeleton</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005634#term=children"> GO:0005634 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 35 in total </p>
</td><td >nucleus</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031988#term=children"> GO:0031988 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >membrane-bounded vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0097458#term=children"> GO:0097458 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </td><td >neuron part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005911#term=children"> GO:0005911 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >cell-cell junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032432#term=children"> GO:0032432 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >actin filament bundle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044463#term=children"> GO:0044463 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >cell projection part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032426#term=children"> GO:0032426 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >stereocilium bundle tip</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031965#term=children"> GO:0031965 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/254173">TTLL10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57540">PTCHD2
</a> </td><td >nuclear membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005622#term=children"> GO:0005622 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 77 in total </p>
</td><td >intracellular</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030867#term=children"> GO:0030867 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >rough endoplasmic reticulum membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030054#term=children"> GO:0030054 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 12 in total </p>
</td><td >cell junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045211#term=children"> GO:0045211 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >postsynaptic membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035748#term=children"> GO:0035748 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >myelin sheath abaxonal region</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0072372#term=children"> GO:0072372 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >primary cilium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043228#term=children"> GO:0043228 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 17 in total </p>
</td><td >non-membrane-bounded organelle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000151#term=children"> GO:0000151 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >ubiquitin ligase complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0071944#term=children"> GO:0071944 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 28 in total </p>
</td><td >cell periphery</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030426#term=children"> GO:0030426 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >growth cone</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005871#term=children"> GO:0005871 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >kinesin complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031258#term=children"> GO:0031258 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >lamellipodium membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044430#term=children"> GO:0044430 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/49856">WRAP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >cytoskeletal part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005741#term=children"> GO:0005741 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >mitochondrial outer membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005929#term=children"> GO:0005929 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >cilium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016023#term=children"> GO:0016023 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >cytoplasmic membrane-bounded vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070438#term=children"> GO:0070438 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >mTOR-FKBP12-rapamycin complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000176#term=children"> GO:0000176 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >nuclear exosome (RNase complex)</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044309#term=children"> GO:0044309 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </td><td >neuron spine</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044304#term=children"> GO:0044304 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >main axon</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044445#term=children"> GO:0044445 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >cytosolic part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044454#term=children"> GO:0044454 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >nuclear chromosome part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0097060#term=children"> GO:0097060 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >synaptic membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044437#term=children"> GO:0044437 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >vacuolar part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045202#term=children"> GO:0045202 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >synapse</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044440#term=children"> GO:0044440 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> </td><td >endosomal part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031966#term=children"> GO:0031966 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83858">ATAD3B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >mitochondrial membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042175#term=children"> GO:0042175 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> </td><td >nuclear outer membrane-endoplasmic reticulum membrane network</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043229#term=children"> GO:0043229 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 62 in total </p>
</td><td >intracellular organelle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034707#term=children"> GO:0034707 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> </td><td >chloride channel complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030425#term=children"> GO:0030425 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> </td><td >dendrite</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043005#term=children"> GO:0043005 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </td><td >neuron projection</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019866#term=children"> GO:0019866 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83858">ATAD3B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> </td><td >organelle inner membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045121#term=children"> GO:0045121 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >membrane raft</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044428#term=children"> GO:0044428 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 16 in total </p>
</td><td >nuclear part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032059#term=children"> GO:0032059 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> </td><td >bleb</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005775#term=children"> GO:0005775 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >vacuolar lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016328#term=children"> GO:0016328 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >lateral plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044456#term=children"> GO:0044456 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >synapse part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044297#term=children"> GO:0044297 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </td><td >cell body</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031012#term=children"> GO:0031012 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >extracellular matrix</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044431#term=children"> GO:0044431 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >Golgi apparatus part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005768#term=children"> GO:0005768 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >endosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001725#term=children"> GO:0001725 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >stress fiber</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005777#term=children"> GO:0005777 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >peroxisome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005814#term=children"> GO:0005814 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> </td><td >centriole</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005740#term=children"> GO:0005740 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83858">ATAD3B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >mitochondrial envelope</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0012505#term=children"> GO:0012505 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/254173">TTLL10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57540">PTCHD2
</a> </td><td >endomembrane system</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005902#term=children"> GO:0005902 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >microvillus</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016324#term=children"> GO:0016324 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >apical plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031903#term=children"> GO:0031903 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >microbody membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044446#term=children"> GO:0044446 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 39 in total </p>
</td><td >intracellular organelle part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044422#term=children"> GO:0044422 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 40 in total </p>
</td><td >organelle part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044448#term=children"> GO:0044448 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >cell cortex part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043234#term=children"> GO:0043234 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 19 in total </p>
</td><td >protein complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030139#term=children"> GO:0030139 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >endocytic vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044438#term=children"> GO:0044438 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >microbody part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044455#term=children"> GO:0044455 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >mitochondrial membrane part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031967#term=children"> GO:0031967 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 10 in total </p>
</td><td >organelle envelope</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005938#term=children"> GO:0005938 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >cell cortex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044429#term=children"> GO:0044429 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83858">ATAD3B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >mitochondrial part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043296#term=children"> GO:0043296 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >apical junction complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005794#term=children"> GO:0005794 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/6248">RSC1A1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7799">PRDM2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> </td><td >Golgi apparatus</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009897#term=children"> GO:0009897 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> </td><td >external side of plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031968#term=children"> GO:0031968 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >organelle outer membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044427#term=children"> GO:0044427 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >chromosomal part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005654#term=children"> GO:0005654 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26155">NOC2L
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/63976">PRDM16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27129">HSPB7
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/473">RERE
</a> </td><td >nucleoplasm</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030055#term=children"> GO:0030055 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >cell-substrate junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016021#term=children"> GO:0016021 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 39 in total </p>
</td><td >integral to membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005791#term=children"> GO:0005791 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >rough endoplasmic reticulum</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032420#term=children"> GO:0032420 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >stereocilium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005743#term=children"> GO:0005743 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55735">DNAJC11
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/83858">ATAD3B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/84275">SLC25A33
</a> </td><td >mitochondrial inner membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005829#term=children"> GO:0005829 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 18 in total </p>
</td><td >cytosol</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005778#term=children"> GO:0005778 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >peroxisomal membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034702#term=children"> GO:0034702 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> </td><td >ion channel complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005789#term=children"> GO:0005789 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> </td><td >endoplasmic reticulum membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044224#term=children"> GO:0044224 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> </td><td >juxtaparanode region of axon</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0014069#term=children"> GO:0014069 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> </td><td >postsynaptic density</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031461#term=children"> GO:0031461 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >cullin-RING ubiquitin ligase complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005739#term=children"> GO:0005739 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 12 in total </p>
</td><td >mitochondrion</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070013#term=children"> GO:0070013 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 15 in total </p>
</td><td >intracellular organelle lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031931#term=children"> GO:0031931 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >TORC1 complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032991#term=children"> GO:0032991 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 20 in total </p>
</td><td >macromolecular complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005887#term=children"> GO:0005887 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> </td><td >integral to plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030424#term=children"> GO:0030424 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >axon</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016323#term=children"> GO:0016323 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> </td><td >basolateral plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005578#term=children"> GO:0005578 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >proteinaceous extracellular matrix</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031301#term=children"> GO:0031301 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> </td><td >integral to organelle membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005924#term=children"> GO:0005924 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >cell-substrate adherens junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0010008#term=children"> GO:0010008 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> </td><td >endosome membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019005#term=children"> GO:0019005 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >SCF ubiquitin ligase complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031528#term=children"> GO:0031528 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >microvillus membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044421#term=children"> GO:0044421 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/388581">FAM132A
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1325">CORT
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> </td><td >extracellular region part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030175#term=children"> GO:0030175 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >filopodium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042641#term=children"> GO:0042641 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >actomyosin</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032421#term=children"> GO:0032421 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >stereocilium bundle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043231#term=children"> GO:0043231 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 57 in total </p>
</td><td >intracellular membrane-bounded organelle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031514#term=children"> GO:0031514 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >motile cilium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005779#term=children"> GO:0005779 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> </td><td >integral to peroxisomal membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005730#term=children"> GO:0005730 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26155">NOC2L
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79707">NOL9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >nucleolus</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031527#term=children"> GO:0031527 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >filopodium membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030057#term=children"> GO:0030057 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> </td><td >desmosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005788#term=children"> GO:0005788 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </td><td >endoplasmic reticulum lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016363#term=children"> GO:0016363 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >nuclear matrix</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043209#term=children"> GO:0043209 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >myelin sheath</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0012506#term=children"> GO:0012506 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >vesicle membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016604#term=children"> GO:0016604 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27129">HSPB7
</a> </td><td >nuclear body</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000139#term=children"> GO:0000139 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> </td><td >Golgi membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031932#term=children"> GO:0031932 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >TORC2 complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005923#term=children"> GO:0005923 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >tight junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005637#term=children"> GO:0005637 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> </td><td >nuclear inner membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044420#term=children"> GO:0044420 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >extracellular matrix part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000785#term=children"> GO:0000785 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >chromatin</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031410#term=children"> GO:0031410 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >cytoplasmic vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030136#term=children"> GO:0030136 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >clathrin-coated vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000323#term=children"> GO:0000323 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >lytic vacuole</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031252#term=children"> GO:0031252 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >cell leading edge</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000178#term=children"> GO:0000178 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >exosome (RNase complex)</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005783#term=children"> GO:0005783 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/22883">CLSTN1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79258">MMEL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57540">PTCHD2
</a> </td><td >endoplasmic reticulum</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001533#term=children"> GO:0001533 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> </td><td >cornified envelope</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044450#term=children"> GO:0044450 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> </td><td >microtubule organizing center part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005604#term=children"> GO:0005604 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >basement membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043202#term=children"> GO:0043202 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >lysosomal lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044444#term=children"> GO:0044444 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 43 in total </p>
</td><td >cytoplasmic part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031513#term=children"> GO:0031513 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >nonmotile primary cilium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031090#term=children"> GO:0031090 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 18 in total </p>
</td><td >organelle membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031300#term=children"> GO:0031300 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >intrinsic to organelle membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044425#term=children"> GO:0044425 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 43 in total </p>
</td><td >membrane part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042622#term=children"> GO:0042622 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >photoreceptor outer segment membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019867#term=children"> GO:0019867 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >outer membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005737#term=children"> GO:0005737 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 62 in total </p>
</td><td >cytoplasm</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0070161#term=children"> GO:0070161 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >anchoring junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043232#term=children"> GO:0043232 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 17 in total </p>
</td><td >intracellular non-membrane-bounded organelle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005875#term=children"> GO:0005875 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >microtubule associated complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005576#term=children"> GO:0005576 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 13 in total </p>
</td><td >extracellular region</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0060170#term=children"> GO:0060170 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >cilium membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001750#term=children"> GO:0001750 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >photoreceptor outer segment</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009986#term=children"> GO:0009986 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> </td><td >cell surface</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043196#term=children"> GO:0043196 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >varicosity</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016605#term=children"> GO:0016605 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PML body</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005796#term=children"> GO:0005796 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> </td><td >Golgi lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005925#term=children"> GO:0005925 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >focal adhesion</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0033267#term=children"> GO:0033267 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >axon part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005773#term=children"> GO:0005773 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >vacuole</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005942#term=children"> GO:0005942 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >phosphatidylinositol 3-kinase complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005815#term=children"> GO:0005815 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/49856">WRAP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> </td><td >microtubule organizing center</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015630#term=children"> GO:0015630 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/49856">WRAP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9731">CEP104
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >microtubule cytoskeleton</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042579#term=children"> GO:0042579 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >microbody</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0035327#term=children"> GO:0035327 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >transcriptionally active chromatin</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030027#term=children"> GO:0030027 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >lamellipodium</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045177#term=children"> GO:0045177 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55966">AJAP1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >apical part of cell</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031231#term=children"> GO:0031231 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> </td><td >intrinsic to peroxisomal membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015030#term=children"> GO:0015030 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27129">HSPB7
</a> </td><td >Cajal body</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001726#term=children"> GO:0001726 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10630">PDPN
</a> </td><td >ruffle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016020#term=children"> GO:0016020 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 54 in total </p>
</td><td >membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043293#term=children"> GO:0043293 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >apoptosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044441#term=children"> GO:0044441 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >cilium part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005694#term=children"> GO:0005694 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >chromosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044433#term=children"> GO:0044433 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >cytoplasmic vesicle part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032838#term=children"> GO:0032838 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/339451">KLHL17
</a> </td><td >cell projection cytoplasm</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044451#term=children"> GO:0044451 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/63976">PRDM16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27129">HSPB7
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199990">C1orf86
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/473">RERE
</a> </td><td >nucleoplasm part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030135#term=children"> GO:0030135 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >coated vesicle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005874#term=children"> GO:0005874 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23095">KIF1B
</a> </td><td >microtubule</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005886#term=children"> GO:0005886 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 27 in total </p>
</td><td >plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044424#term=children"> GO:0044424 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 76 in total </p>
</td><td >intracellular part</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005635#term=children"> GO:0005635 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/23254">KAZN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/199953">TMEM201
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/254173">TTLL10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57540">PTCHD2
</a> </td><td >nuclear envelope</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043233#term=children"> GO:0043233 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 15 in total </p>
</td><td >organelle lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031981#term=children"> GO:0031981 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 12 in total </p>
</td><td >nuclear lumen</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031224#term=children"> GO:0031224 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 39 in total </p>
</td><td >intrinsic to membrane</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043197#term=children"> GO:0043197 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> </td><td >dendritic spine</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005770#term=children"> GO:0005770 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51150">SDF4
</a> </td><td >late endosome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0034399#term=children"> GO:0034399 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >nuclear periphery</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0017053#term=children"> GO:0017053 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/63976">PRDM16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/23013">SPEN
</a> </td><td >transcriptional repressor complex</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005605#term=children"> GO:0005605 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >basal lamina</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005884#term=children"> GO:0005884 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83715">ESPN
</a> </td><td >actin filament</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0044459#term=children"> GO:0044459 </a>
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 10 in total </p>
</td><td >plasma membrane part</td></tr>
