<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04144"> 04144 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Endocytosis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04146"> 04146 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5192">PEX10
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5195">PEX14
</a> </td><td >Peroxisome</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04012"> 04012 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >ErbB signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04710"> 04710 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8863">PER3
</a> </td><td >Circadian rhythm - mammal</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04141"> 04141 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Protein processing in endoplasmic reticulum</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05223"> 05223 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Non-small cell lung cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04360"> 04360 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1969">EPHA2
</a> </td><td >Axon guidance</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04916"> 04916 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >Melanogenesis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa01100"> 01100 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >Metabolic pathways</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa01040"> 01040 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/11332">ACOT7
</a> </td><td >Biosynthesis of unsaturated fatty acids</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04062"> 04062 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Chemokine signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04974"> 04974 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51032">CELA2B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/63036">CELA2A
</a> </td><td >Protein digestion and absorption</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05145"> 05145 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Toxoplasmosis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04080"> 04080 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2563">GABRD
</a> </td><td >Neuroactive ligand-receptor interaction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05221"> 05221 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Acute myeloid leukemia</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00480"> 00480 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> </td><td >Glutathione metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05200"> 05200 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Pathways in cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04622"> 04622 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >RIG-I-like receptor signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04115"> 04115 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >p53 signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00830"> 00830 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >Retinol metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04966"> 04966 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> </td><td >Collecting duct acid secretion</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05213"> 05213 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Endometrial cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00030"> 00030 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9563">H6PD
</a> </td><td >Pentose phosphate pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04150"> 04150 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >mTOR signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05012"> 05012 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/11315">PARK7
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> </td><td >Parkinson's disease</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05215"> 05215 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Prostate cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05416"> 05416 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Viral myocarditis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04910"> 04910 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Insulin signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00310"> 00310 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >Lysine degradation</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05016"> 05016 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Huntington's disease</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05210"> 05210 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Colorectal cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04722"> 04722 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7161">TP73
</a> </td><td >Neurotrophin signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00770"> 00770 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Pantothenate and CoA biosynthesis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04973"> 04973 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> </td><td >Carbohydrate digestion and absorption</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04310"> 04310 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >Wnt signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04920"> 04920 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >Adipocytokine signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05010"> 05010 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Alzheimer's disease</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04370"> 04370 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >VEGF signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05222"> 05222 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Small cell lung cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04330"> 04330 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >Notch signaling pathway</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04930"> 04930 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Type II diabetes mellitus</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00330"> 00330 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >Arginine and proline metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04210"> 04210 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Apoptosis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00760"> 00760 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </td><td >Nicotinate and nicotinamide metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04530"> 04530 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Tight junction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04610"> 04610 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Complement and coagulation cascades</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05014"> 05014 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >Amyotrophic lateral sclerosis (ALS)</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05217"> 05217 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1855">DVL1
</a> </td><td >Basal cell carcinoma</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa00670"> 00670 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> </td><td >One carbon pool by folate</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04110"> 04110 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> </td><td >Cell cycle</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04512"> 04512 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >ECM-receptor interaction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04742"> 04742 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80835">TAS1R1
</a> </td><td >Taste transduction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05214"> 05214 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Glioma</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04972"> 04972 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/51032">CELA2B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/63036">CELA2A
</a> </td><td >Pancreatic secretion</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05212"> 05212 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Pancreatic cancer</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04120"> 04120 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10277">UBE4B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> </td><td >Ubiquitin mediated proteolysis</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa05150"> 05150 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Staphylococcus aureus infection</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa04060"> 04060 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/943">TNFRSF8
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/7133">TNFRSF1B
</a> </td><td >Cytokine-cytokine receptor interaction</td></tr>
<tr>
<td >1</td><td >1</td><td ><a href="http://www.genome.jp/kegg-bin/show_pathway?hsa03018"> 03018 </a>
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5394">EXOSC10
</a> </td><td >RNA degradation</td></tr>
