<tr>
<td >1</td><td >1</td><td > 798 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >Negative regulators of RIG-I/MDA5 signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 451 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Formation of apoptosome</td></tr>
<tr>
<td >1</td><td >1</td><td > 722 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Metabolism of vitamins and cofactors</td></tr>
<tr>
<td >1</td><td >1</td><td > 1109 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/155184">SLC2A7
</a> </td><td >SLC-mediated transmembrane transport</td></tr>
<tr>
<td >1</td><td >1</td><td > 695 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IV - Morquio syndrome A</td></tr>
<tr>
<td >1</td><td >1</td><td > 742 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >Mitotic G2-G2/M phases</td></tr>
<tr>
<td >1</td><td >1</td><td > 325 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MMADHC causes methylmalonic aciduria and homocystinuria type cblD</td></tr>
<tr>
<td >1</td><td >1</td><td > 1162 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by Insulin receptor</td></tr>
<tr>
<td >1</td><td >1</td><td > 861 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PIP3 activates AKT signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 1171 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH1 in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 218 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >Cell Cycle</td></tr>
<tr>
<td >1</td><td >1</td><td > 706 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/127281">FAM213B
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >Metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 1172 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH1 t(7;9)(NOTCH1:M1580_K2555) Translocation Mutant</td></tr>
<tr>
<td >1</td><td >1</td><td > 1438 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >mTOR signalling</td></tr>
<tr>
<td >1</td><td >1</td><td > 119 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >Antiviral mechanism by IFN-stimulated genes</td></tr>
<tr>
<td >1</td><td >1</td><td > 586 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >ISG15 antiviral mechanism</td></tr>
<tr>
<td >1</td><td >1</td><td > 246 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80835">TAS1R1
</a> </td><td >Class C/3 (Metabotropic glutamate/pheromone receptors)</td></tr>
<tr>
<td >1</td><td >1</td><td > 690 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS II - Hunter syndrome</td></tr>
<tr>
<td >1</td><td >1</td><td > 1168 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH1 HD Domain Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 1180 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Signaling by TGF-beta Receptor Complex</td></tr>
<tr>
<td >1</td><td >1</td><td > 430 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/155184">SLC2A7
</a> </td><td >Facilitative Na+-independent glucose transporters</td></tr>
<tr>
<td >1</td><td >1</td><td > 1266 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >TGFBR1 LBD Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 221 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >Cell death signalling via NRAGE, NRIF and NADE</td></tr>
<tr>
<td >1</td><td >1</td><td > 1089 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Role of DCC in regulating apoptosis</td></tr>
<tr>
<td >1</td><td >1</td><td > 1309 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >The retinoid cycle in cones (daylight vision)</td></tr>
<tr>
<td >1</td><td >1</td><td > 366 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Downstream signal transduction</td></tr>
<tr>
<td >1</td><td >1</td><td > 272 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Constitutive Signaling by NOTCH1 HD+PEST Domain Mutants</td></tr>
<tr>
<td >1</td><td >1</td><td > 919 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> </td><td >Potassium Channels</td></tr>
<tr>
<td >1</td><td >1</td><td > 534 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Glycosaminoglycan metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 1268 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >TGFBR2 MSI Frameshift Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 633 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >Interferon alpha/beta signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 1161 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/261734">NPHP4
</a> </td><td >Signaling by Hippo</td></tr>
<tr>
<td >1</td><td >1</td><td > 138 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Association of TriC/CCT with target proteins during biosynthesis</td></tr>
<tr>
<td >1</td><td >1</td><td > 860 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PI3K/AKT activation</td></tr>
<tr>
<td >1</td><td >1</td><td > 710 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> </td><td >Metabolism of carbohydrates</td></tr>
<tr>
<td >1</td><td >1</td><td > 323 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MMAB causes methylmalonic aciduria type cblB</td></tr>
<tr>
<td >1</td><td >1</td><td > 856 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PI3K Cascade</td></tr>
<tr>
<td >1</td><td >1</td><td > 1149 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by ERBB4</td></tr>
<tr>
<td >1</td><td >1</td><td > 810 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> </td><td >Nicotinate metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 574 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >IGF1R signaling cascade</td></tr>
<tr>
<td >1</td><td >1</td><td > 717 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >Metabolism of polyamines</td></tr>
<tr>
<td >1</td><td >1</td><td > 1182 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by Type 1 Insulin-like Growth Factor 1 Receptor (IGF1R)</td></tr>
<tr>
<td >1</td><td >1</td><td > 330 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defects in biotin (Btn) metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 692 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IIIB - Sanfilippo syndrome B</td></tr>
<tr>
<td >1</td><td >1</td><td > 549 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >HS-GAG degradation</td></tr>
<tr>
<td >1</td><td >1</td><td > 128 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/127281">FAM213B
</a> </td><td >Arachidonic acid metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 53 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> </td><td >Activation of Chaperone Genes by XBP1(S)</td></tr>
<tr>
<td >1</td><td >1</td><td > 1112 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >SMAC-mediated dissociation of IAP:caspase complexes</td></tr>
<tr>
<td >1</td><td >1</td><td > 583 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >IRS-mediated signalling</td></tr>
<tr>
<td >1</td><td >1</td><td > 257 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Coenzyme A biosynthesis</td></tr>
<tr>
<td >1</td><td >1</td><td > 55 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> </td><td >Activation of Chaperones by IRE1alpha</td></tr>
<tr>
<td >1</td><td >1</td><td > 259 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >Collagen biosynthesis and modifying enzymes</td></tr>
<tr>
<td >1</td><td >1</td><td > 1402 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Vitamin B5 (pantothenate) metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 1146 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by EGFR</td></tr>
<tr>
<td >1</td><td >1</td><td > 89 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80176">SPSB1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Adaptive Immune System</td></tr>
<tr>
<td >1</td><td >1</td><td > 584 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >IRS-related events</td></tr>
<tr>
<td >1</td><td >1</td><td > 347 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Developmental Biology</td></tr>
<tr>
<td >1</td><td >1</td><td > 665 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Lectin pathway of complement activation</td></tr>
<tr>
<td >1</td><td >1</td><td > 689 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS I - Hurler syndrome</td></tr>
<tr>
<td >1</td><td >1</td><td > 1116 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >SMAD4 MH2 Domain Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 320 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective HLCS causes multiple carboxylase deficiency</td></tr>
<tr>
<td >1</td><td >1</td><td > 184 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >CD28 dependent PI3K/Akt signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 1189 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >Signalling by NGF</td></tr>
<tr>
<td >1</td><td >1</td><td > 1177 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >Signaling by Rho GTPases</td></tr>
<tr>
<td >1</td><td >1</td><td > 776 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >NGF signalling via TRKA from the plasma membrane</td></tr>
<tr>
<td >1</td><td >1</td><td > 858 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PI3K events in ERBB4 signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 754 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Mucopolysaccharidoses</td></tr>
<tr>
<td >1</td><td >1</td><td > 1166 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH</td></tr>
<tr>
<td >1</td><td >1</td><td > 326 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MTR causes methylmalonic aciduria and homocystinuria type cblG</td></tr>
<tr>
<td >1</td><td >1</td><td > 1003 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >Recruitment of mitotic centrosome proteins and complexes</td></tr>
<tr>
<td >1</td><td >1</td><td > 5 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >A tetrasaccharide linker sequence is required for GAG synthesis</td></tr>
<tr>
<td >1</td><td >1</td><td > 698 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS VI - Maroteaux-Lamy syndrome</td></tr>
<tr>
<td >1</td><td >1</td><td > 552 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >Hemostasis</td></tr>
<tr>
<td >1</td><td >1</td><td > 230 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >Centrosome maturation</td></tr>
<tr>
<td >1</td><td >1</td><td > 612 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Innate Immune System</td></tr>
<tr>
<td >1</td><td >1</td><td > 1350 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/6339">SCNN1D
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/155184">SLC2A7
</a> </td><td >Transmembrane transport of small molecules</td></tr>
<tr>
<td >1</td><td >1</td><td > 1086 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >Rho GTPase cycle</td></tr>
<tr>
<td >1</td><td >1</td><td > 467 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >G alpha (12/13) signalling events</td></tr>
<tr>
<td >1</td><td >1</td><td > 673 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Loss of Function of SMAD2/3 in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 315 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective AMN causes hereditary megaloblastic anemia 1</td></tr>
<tr>
<td >1</td><td >1</td><td > 222 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >Cell junction organization</td></tr>
<tr>
<td >1</td><td >1</td><td > 1078 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Retinoid metabolism and transport</td></tr>
<tr>
<td >1</td><td >1</td><td > 1265 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >TGFBR1 KD Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 623 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Integrin cell surface interactions</td></tr>
<tr>
<td >1</td><td >1</td><td > 1114 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >SMAD2/3 Phosphorylation Motif Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 328 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MUT causes methylmalonic aciduria mut type</td></tr>
<tr>
<td >1</td><td >1</td><td > 317 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective CD320 causes methylmalonic aciduria</td></tr>
<tr>
<td >1</td><td >1</td><td > 711 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> </td><td >Metabolism of folate and pterines</td></tr>
<tr>
<td >1</td><td >1</td><td > 125 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Apoptotic factor-mediated response</td></tr>
<tr>
<td >1</td><td >1</td><td > 1188 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by the B Cell Receptor (BCR)</td></tr>
<tr>
<td >1</td><td >1</td><td > 1058 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Release of eIF4E</td></tr>
<tr>
<td >1</td><td >1</td><td > 1150 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by FGFR</td></tr>
<tr>
<td >1</td><td >1</td><td > 247 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80176">SPSB1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Class I MHC mediated antigen processing & presentation</td></tr>
<tr>
<td >1</td><td >1</td><td > 319 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective GIF causes intrinsic factor deficiency</td></tr>
<tr>
<td >1</td><td >1</td><td > 1179 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by SCF-KIT</td></tr>
<tr>
<td >1</td><td >1</td><td > 696 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IV - Morquio syndrome B</td></tr>
<tr>
<td >1</td><td >1</td><td > 297 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >DAP12 interactions</td></tr>
<tr>
<td >1</td><td >1</td><td > 290 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Cytochrome c-mediated apoptotic response</td></tr>
<tr>
<td >1</td><td >1</td><td > 712 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/127281">FAM213B
</a> </td><td >Metabolism of lipids and lipoproteins</td></tr>
<tr>
<td >1</td><td >1</td><td > 883 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >Peptide ligand-binding receptors</td></tr>
<tr>
<td >1</td><td >1</td><td > 271 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Constitutive Signaling by NOTCH1 HD Domain Mutants</td></tr>
<tr>
<td >1</td><td >1</td><td > 13 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >AKT phosphorylates targets in the cytosol</td></tr>
<tr>
<td >1</td><td >1</td><td > 1170 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH1 PEST Domain Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 38 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Activated NOTCH1 Transmits Signal to the Nucleus</td></tr>
<tr>
<td >1</td><td >1</td><td > 408 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >Extracellular matrix organization</td></tr>
<tr>
<td >1</td><td >1</td><td > 945 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Protein folding</td></tr>
<tr>
<td >1</td><td >1</td><td > 1169 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH1 HD+PEST Domain Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 118 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80176">SPSB1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Antigen processing: Ubiquitination & Proteasome degradation</td></tr>
<tr>
<td >1</td><td >1</td><td > 331 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defects in cobalamin (B12) metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 437 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Fc epsilon receptor (FCERI) signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 220 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >Cell Cycle, Mitotic</td></tr>
<tr>
<td >1</td><td >1</td><td > 675 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Loss of Function of TGFBR1 in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 226 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >Cell-extracellular matrix interactions</td></tr>
<tr>
<td >1</td><td >1</td><td > 431 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9927">MFN2
</a> </td><td >Factors involved in megakaryocyte development and platelet production</td></tr>
<tr>
<td >1</td><td >1</td><td > 1448 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >p75 NTR receptor-mediated signalling</td></tr>
<tr>
<td >1</td><td >1</td><td > 548 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >HS-GAG biosynthesis</td></tr>
<tr>
<td >1</td><td >1</td><td > 859 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PI3K/AKT Signaling in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 1110 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >SMAC binds to IAPs</td></tr>
<tr>
<td >1</td><td >1</td><td > 783 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >NOTCH2 Activation and Transmission of Signal to the Nucleus</td></tr>
<tr>
<td >1</td><td >1</td><td > 145 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Axon guidance</td></tr>
<tr>
<td >1</td><td >1</td><td > 124 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >Apoptotic execution  phase</td></tr>
<tr>
<td >1</td><td >1</td><td > 1090 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Role of LAT2/NTAL/LAB on calcium mobilization</td></tr>
<tr>
<td >1</td><td >1</td><td > 364 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Downstream Signaling Events Of B Cell Receptor (BCR)</td></tr>
<tr>
<td >1</td><td >1</td><td > 367 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Downstream signaling of activated FGFR</td></tr>
<tr>
<td >1</td><td >1</td><td > 324 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MMACHC causes methylmalonic aciduria and homocystinuria type cblC</td></tr>
<tr>
<td >1</td><td >1</td><td > 723 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Metabolism of water-soluble vitamins and cofactors</td></tr>
<tr>
<td >1</td><td >1</td><td > 244 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >Class A/1 (Rhodopsin-like receptors)</td></tr>
<tr>
<td >1</td><td >1</td><td > 351 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Disease</td></tr>
<tr>
<td >1</td><td >1</td><td > 488 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >GAB1 signalosome</td></tr>
<tr>
<td >1</td><td >1</td><td > 1267 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >TGFBR2 Kinase Domain Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 1173 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH2</td></tr>
<tr>
<td >1</td><td >1</td><td > 965 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >RIG-I/MDA5 mediated induction of IFN-alpha/beta pathways</td></tr>
<tr>
<td >1</td><td >1</td><td > 1439 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >mTORC1-mediated signalling</td></tr>
<tr>
<td >1</td><td >1</td><td > 120 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Apoptosis</td></tr>
<tr>
<td >1</td><td >1</td><td > 1148 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by ERBB2</td></tr>
<tr>
<td >1</td><td >1</td><td > 1365 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/155184">SLC2A7
</a> </td><td >Transport of glucose and other sugars, bile salts and organic acids, metal ions and amine compounds</td></tr>
<tr>
<td >1</td><td >1</td><td > 1407 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> </td><td >Voltage gated Potassium channels</td></tr>
<tr>
<td >1</td><td >1</td><td > 496 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >GPCR downstream signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 694 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IIID - Sanfilippo syndrome D</td></tr>
<tr>
<td >1</td><td >1</td><td > 329 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective TCN2 causes hereditary megaloblastic anemia</td></tr>
<tr>
<td >1</td><td >1</td><td > 441 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Ficolins bind to repetitive carbohydrate structures on the target cell surface</td></tr>
<tr>
<td >1</td><td >1</td><td > 769 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >NCAM signaling for neurite out-growth</td></tr>
<tr>
<td >1</td><td >1</td><td > 1181 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Signaling by TGF-beta Receptor Complex in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 803 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8514">KCNAB2
</a> </td><td >Neuronal System</td></tr>
<tr>
<td >1</td><td >1</td><td > 1245 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/127281">FAM213B
</a> </td><td >Synthesis of Prostaglandins (PG) and Thromboxanes (TX)</td></tr>
<tr>
<td >1</td><td >1</td><td > 691 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IIIA - Sanfilippo syndrome A</td></tr>
<tr>
<td >1</td><td >1</td><td > 1111 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >SMAC-mediated apoptotic response</td></tr>
<tr>
<td >1</td><td >1</td><td > 224 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/54751">FBLIM1
</a> </td><td >Cell-Cell communication</td></tr>
<tr>
<td >1</td><td >1</td><td > 352 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >Diseases associated with visual transduction</td></tr>
<tr>
<td >1</td><td >1</td><td > 279 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Creation of C4 and C2 activators</td></tr>
<tr>
<td >1</td><td >1</td><td > 498 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >GPVI-mediated activation cascade</td></tr>
<tr>
<td >1</td><td >1</td><td > 372 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >ECM proteoglycans</td></tr>
<tr>
<td >1</td><td >1</td><td > 1160 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80835">TAS1R1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >Signaling by GPCR</td></tr>
<tr>
<td >1</td><td >1</td><td > 1014 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Regulation of Apoptosis</td></tr>
<tr>
<td >1</td><td >1</td><td > 632 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >Interferon Signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 263 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Complement cascade</td></tr>
<tr>
<td >1</td><td >1</td><td > 610 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> </td><td >Initial triggering of complement</td></tr>
<tr>
<td >1</td><td >1</td><td > 513 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >Gastrin-CREB signalling pathway via PKC and MAPK</td></tr>
<tr>
<td >1</td><td >1</td><td > 645 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/6339">SCNN1D
</a> </td><td >Ion channel transport</td></tr>
<tr>
<td >1</td><td >1</td><td > 322 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MMAA causes methylmalonic aciduria type cblA</td></tr>
<tr>
<td >1</td><td >1</td><td > 469 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >G alpha (q) signalling events</td></tr>
<tr>
<td >1</td><td >1</td><td > 1176 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by PDGF</td></tr>
<tr>
<td >1</td><td >1</td><td > 709 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >Metabolism of amino acids and derivatives</td></tr>
<tr>
<td >1</td><td >1</td><td > 699 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS VII - Sly syndrome</td></tr>
<tr>
<td >1</td><td >1</td><td > 332 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defects in vitamin and cofactor metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 233 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Chaperonin-mediated protein folding</td></tr>
<tr>
<td >1</td><td >1</td><td > 316 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective BTD causes biotidinase deficiency</td></tr>
<tr>
<td >1</td><td >1</td><td > 291 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> </td><td >Cytokine Signaling in Immune system</td></tr>
<tr>
<td >1</td><td >1</td><td > 812 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Non-integrin membrane-ECM interactions</td></tr>
<tr>
<td >1</td><td >1</td><td > 585 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >IRS-related events triggered by IGF1R</td></tr>
<tr>
<td >1</td><td >1</td><td > 327 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective MTRR causes methylmalonic aciduria and homocystinuria type cblE</td></tr>
<tr>
<td >1</td><td >1</td><td > 1113 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >SMAD2/3 MH2 Domain Mutants in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 674 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Loss of Function of SMAD4 in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 273 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Constitutive Signaling by NOTCH1 PEST Domain Mutants</td></tr>
<tr>
<td >1</td><td >1</td><td > 1264 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >TGF-beta receptor signaling in EMT (epithelial to mesenchymal transition)</td></tr>
<tr>
<td >1</td><td >1</td><td > 553 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Heparan sulfate/heparin (HS-GAG) metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 855 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PI-3K cascade</td></tr>
<tr>
<td >1</td><td >1</td><td > 270 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Constitutive PI3K/AKT Signaling in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 1147 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by EGFR in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 1399 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9249">DHRS3
</a> </td><td >Visual phototransduction</td></tr>
<tr>
<td >1</td><td >1</td><td > 719 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Metabolism of proteins</td></tr>
<tr>
<td >1</td><td >1</td><td > 1139 
</td><td >0</td><td >0</td><td >0</td><td ><p title=" "> 12 in total </p>
</td><td >Signal Transduction</td></tr>
<tr>
<td >1</td><td >1</td><td > 97 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/79814">AGMAT
</a> </td><td >Agmatine biosynthesis</td></tr>
<tr>
<td >1</td><td >1</td><td > 866 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PKB-mediated events</td></tr>
<tr>
<td >1</td><td >1</td><td > 693 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IIIC - Sanfilippo syndrome C</td></tr>
<tr>
<td >1</td><td >1</td><td > 770 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >NCAM1 interactions</td></tr>
<tr>
<td >1</td><td >1</td><td > 1385 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/7709">ZBTB17
</a> </td><td >Unfolded Protein Response</td></tr>
<tr>
<td >1</td><td >1</td><td > 497 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/83756">TAS1R3
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80835">TAS1R1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10911">UTS2
</a> </td><td >GPCR ligand binding</td></tr>
<tr>
<td >1</td><td >1</td><td > 183 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >CD28 co-stimulation</td></tr>
<tr>
<td >1</td><td >1</td><td > 1211 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1188">CLCNKB
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1187">CLCNKA
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/1185">CLCN6
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/6339">SCNN1D
</a> </td><td >Stimuli-sensing channels</td></tr>
<tr>
<td >1</td><td >1</td><td > 411 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >FBXW7 Mutants and NOTCH1 in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 785 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/27237">ARHGEF16
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/57449">PLEKHG5
</a> </td><td >NRAGE signals death through JNK</td></tr>
<tr>
<td >1</td><td >1</td><td > 587 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/26232">FBXO2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/80176">SPSB1
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/9636">ISG15
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/10747">MASP2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/118424">UBE2J2
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/26270">FBXO6
</a> </td><td >Immune System</td></tr>
<tr>
<td >1</td><td >1</td><td > 1167 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/142678">MIB2
</a> </td><td >Signaling by NOTCH1</td></tr>
<tr>
<td >1</td><td >1</td><td > 298 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >DAP12 signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 779 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >NOD1/2 Signaling Pathway</td></tr>
<tr>
<td >1</td><td >1</td><td > 697 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >MPS IX - Natowicz syndrome</td></tr>
<tr>
<td >1</td><td >1</td><td > 857 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >PI3K events in ERBB2 signaling</td></tr>
<tr>
<td >1</td><td >1</td><td > 261 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5351">PLOD1
</a> </td><td >Collagen formation</td></tr>
<tr>
<td >1</td><td >1</td><td > 321 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective LMBRD1 causes methylmalonic aciduria and homocystinuria type cblF</td></tr>
<tr>
<td >1</td><td >1</td><td > 829 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Nucleotide-binding domain, leucine rich repeat containing receptor (NLR) signaling pathways</td></tr>
<tr>
<td >1</td><td >1</td><td > 121 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >Apoptosis induced DNA fragmentation</td></tr>
<tr>
<td >1</td><td >1</td><td > 487 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/728642">CDK11A
</a> </td><td >G2/M Transition</td></tr>
<tr>
<td >1</td><td >1</td><td > 238 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/375790">AGRN
</a> </td><td >Chondroitin sulfate/dermatan sulfate metabolism</td></tr>
<tr>
<td >1</td><td >1</td><td > 643 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Intrinsic Pathway for Apoptosis</td></tr>
<tr>
<td >1</td><td >1</td><td > 676 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Loss of Function of TGFBR2 in Cancer</td></tr>
<tr>
<td >1</td><td >1</td><td > 277 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/8764">TNFRSF14
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Costimulation by the CD28 family</td></tr>
<tr>
<td >1</td><td >1</td><td > 879 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5226">PGD
</a> </td><td >Pentose phosphate pathway (hexose monophosphate shunt)</td></tr>
<tr>
<td >1</td><td >1</td><td > 1095 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >S6K1-mediated signalling</td></tr>
<tr>
<td >1</td><td >1</td><td > 56 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/1677">DFFB
</a> </td><td >Activation of DNA fragmentation factor</td></tr>
<tr>
<td >1</td><td >1</td><td > 1151 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Signaling by FGFR in disease</td></tr>
<tr>
<td >1</td><td >1</td><td > 75 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/842">CASP9
</a> </td><td >Activation of caspases through apoptosome-mediated cleavage</td></tr>
<tr>
<td >1</td><td >1</td><td > 618 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/2475">MTOR
</a> </td><td >Insulin receptor signalling cascade</td></tr>
<tr>
<td >1</td><td >1</td><td > 900 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/5590">PRKCZ
</a> </td><td >Platelet activation, signaling and aggregation</td></tr>
<tr>
<td >1</td><td >1</td><td > 318 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/4524">MTHFR
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/65220">NADK
</a> <a href="http://www.ncbi.nlm.nih.gov/gene/55229">PANK4
</a> </td><td >Defective CUBN causes hereditary megaloblastic anemia 1</td></tr>
<tr>
<td >1</td><td >1</td><td > 248 
</td><td >0</td><td >0</td><td >0</td><td ><a href="http://www.ncbi.nlm.nih.gov/gene/155184">SLC2A7
</a> </td><td >Class II GLUTs</td></tr>
